body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(circle, #1a237e, #000051);
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center content within the container */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #333;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password-container {
    position: relative;
}

.password-toggle {
    position: left;
    top: 50%;
    right:50px;
  
    cursor: pointer;
    color: #007bff;
}

.additional-options {
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin-top: 10px;
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    padding: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.logo {
    max-width: 100px; /* Adjust the maximum width as needed */
    margin-bottom: 20px;
}
.logo {
    max-width: 100px; /* Adjust the maximum width as needed */
    margin-bottom: 20px;
}
